
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Home/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Online Exam Portal</title>

</head>
<body>
    <header>
        <div id="header-contaioner">
            <div class="col-3">


                <img src="~/image/logo3.jpg" class="logo" height="50" width="143" />
            </div>
            <div class="col-3">
                <nav>
                    <ul class="menu">
                        <li> AboutUs</li>
                        <li> ContactUs</li>

                    </ul>
                </nav>
            </div>
            <div class="col-3">
                <a href="/Login/Index" class="get"> Login</a>
                <a href="/Registration/Registration" class="get"> Register</a>
                @*<a href="/AdminLogin/Index4" class="get"> AdminLogin</a>*@


            </div>
        </div>
    </header>
    <div class="main-container">
        <div id="top-section-main">
            <div id="top-section-content">
                <h1> Knowledge is Power - So Test it</h1>
                <p> An amazing online assesment Platform, explore yourselves.</p>

                <img src="~/image/test-passed.png" class="book-button" alt="book-button" height="128px" width="128px" />
                @*<div class="main-form">
                    <form>
                        <h6>SIGNUP FOR EXPLORING YOUR KNOWLEDGE</h6>
                        <input type="text" name="name" placeholder="Name" />
                        <input type="email" name="email" placeholder="Email" />

                        <button style="trial" type="submit" value="submit">Start Exam</button>
                    </form>
                </div>*@
            </div>
        </div>
        <div id="about-container">
            <h1 class="about-container-title">Online Exam is an amazing platform to explore and gain your Knowledge in <span style="background-color:#6dc77a;color:#ffffff;padding:2px;">Programming</span> languages.Imagine what is next.</h1>
            <div class="about-content">
                <div class="col-3">

                    <img src="~/image/proctoru_750xx3151-1772-0-165.jpg" />
                    <h3>Placement Exposure </h3>
                    <p> This Online exam platform is helpful for students, companies or any organization to conduct any examinations from this site. In this age of increased competition, various companies, organization’s face a common problem of conducting online exam by personally visiting to different colleges (in case of companies) for placement drives.</p>
                </div>
                <div class="col-3">

                    <img src="~/image/IMG_8177.jpg" />
                    <h3>Courses Available</h3>
                    <p>Various Courses are available in our online Platform which will be helpful for ur placement prepration like JAVA,SQL,C and C++,Data Structures,PYTHON and u can take up test regularly to improve your coding skills and enrich your knowledge so that you get placed in a good company.</p>
                </div>
                <div class="col-3">

                    <img src="~/image/4-14-ProctorU.jpg" />



                    <h3>Aim & Objectives</h3>
                    <p>Our aim is to design effective solutions for our clients thus creating value for their investment. Technological excellence, customer satisfaction and ethical business process are the core guiding values that drive our organisation in all of our day-to-day functioning of business. We oblige to the needs of all types of clients from SMEs to Corporate Giants. We believe in the principle of "Always put the customer first and success follows next".</p>
                </div>
            </div>
        </div>
        <div id="showcase1-container">
            <div class="showcase">
                <div class="col-2">

                    <img src="~/image/1589981889php5vVv3e.jpeg" class="showcase1pic" />

                </div>
                <div class="col-2">
                    <div class="about-text">
                        <h1 class="section-title">
                            Plenty of test takers
                            Smooth concurrent exams
                        </h1>
                        <p class="section-left">
                            Organizing campus drives in colleges and aptitude tests in the entrance levels is now made comfortable with very large number of exam takers.

                            Go ahead and plan a giant amount of test series on the online test platform with large number of concurrent candidates giving the tests at the same time, either on the same location or at many different locations across the globe.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="showcase2-container">
            <div class="showcase">
                <div class="col-2">
                    <div class="about-text">
                        <h1 class="section-title">
                            Test maker software
                            Practice made perfect
                        </h1>
                        <p class="section-left">
                            Test Maker Software enables learners to create tests on different parameters assisting self-study.

                            Learners can select tutor or test mode also can create tests choosing different difficulty level, number of questions, sections.The performance reports of the test maker software in the online test platform provides a perfect track record of understanding and level of exam preparation of the learners.

                        </p>
                    </div>


                </div>
                <div class="col-2">


                    <img src="~/image/student-taking-exam-at-home-2.jpg" class="showcase1pic" />
                </div>
            </div>
        </div>
        <div id="call-to-action">
            <div class="showcase">
                <div class="col-1">
                    <h1 class="action-title">What are you waiting for?</h1>
                    <p>Get started today for free - Explore Knowledge in this Platform</p>
                    <p style="text-align:center"><a href="#" class="signupBTN">Try Today</a></p>
                </div>
            </div>
        </div>
        <div class="contact-section">

            <h1>Contact Us</h1>
            <div class="border"></div>
            <form class="contact-form" action="index.html" method="post">
                <input type="text" class="contact-form-text" placeholder="Your name">
                <input type="email" class="contact-form-text" placeholder="Your email">
                <input type="text" class="contact-form-text" placeholder="Your phone">
                <textarea class="contact-form-text" placeholder="Your message"></textarea>
                <input type="submit" class="contact-form-btn" value="Send">
            </form>
        </div>

    </div>

    <footer>
        <div class="footer-info">
            <div class="footer-width about">
                <h2>About</h2>
                <p>
                    Our aim is to design effective solutions for our clients thus creating value for their investment. Technological excellence, customer satisfaction and ethical business process are the core guiding values that drive our organisation in all of our day-to-day functioning of business. We oblige to the needs of all types of clients from SMEs to Corporate Giants. We believe in the principle of "Always put the customer first and success follows next".
                </p>
                <div class="social-media">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>

            <div class="footer-width Contact">
                <ul>
                    <li>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <p>
                            B 401 VGN RAKSHA CHURCH ROAD,MUGAPPAIR EAST CHENNAI-600037,TAMILNADU.
                        </p>
                    </li>
                    <li>
                        <span><i class="far fa-envelope"></i></span>
                        <a href="#">Vetriguna72@gmail.com</a>
                    </li>
                    <li>
                        <span><i class="fas fa-phone-volume"></i></span>
                        <a href="#">701 0929 024</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="copy-right">
            <p>.CopyRight 2021 ONLINE EXAM All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
