@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    267, 2nd Floor, HRS Towers,<br />
    Kumaran Road, Coimbatore<br />
    <abbr title="Phone">P:</abbr>
    +91 8056730275
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:flyhightravels02@gmail.com">flyhightravels02@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:flyhightravels03@gmail.com">flyhightravels03@gmail.com</a>
</address>