@{
    ViewBag.Title = "About";
}

 <body background="~/Photos/h23.jpg" >
<img src="~/Photos/h11.jpg" width="900" hight=" 400">
<p></p>



<h1>Tips to follow while availing for a Home Loan</h1>
<br>
<p1>
    A home loan offers you the chance of owning a residential property and building an asset while at the same time enjoying tax benefits. You have to pay a certain percentage of the property cost, usually up to 20%, out of your funds. The loan amount can be repaid over a fixed period as per your convenience. Both the principal loan amount and the interest repayment are eligible for tax deduction under Income Tax laws. A home loan application can be done at the bank branch, loan processing centre or online. Let us look at some tips to keep in mind while applying for a home loan

</p1>


<ul>

    <li>
        <span>&#128073;&#127996;Tip-1</span>
        <p>
            Be sure about how much you can afford through Equated Monthly Instalments (EMIs) because a home loan is a long term commitment. Deduct all your expenses, including other loan and credit card repayments from your take-home pay, to know how much you can afford as home loan EMI. Generally, banks allow EMIs up to 40% of your take-home loan salary.

        </p>
    </li>
    <li>
        <span>&#128073;&#127996;Tip-2</span>
        <p>
            If you apply for a high amount, the bank may not approve your loan. Also, once you know the loan amount you are eligible for you can plan for the rest of the down payment accordingly.

        </p>
    </li>
    <li>
        <span>&#128073;&#127996;Tip-3</span>
        <p>
            It is advisable to apply for a home loan at a bank where you already have a banking relationship, such as a savings/salary account, a car loan, a personal loan, etc. If the bank already knows your credit history and personal details such as employer, salary, etc, then the bank has to spend less time for the Know Your Customer (KYC) procedure.
        </p>
    </li>
    <li>
        <span>&#128073;&#127996;Tip-4</span>
        <p>
            In most cases, the bank will look favourably at a customer with a good repayment record and high credit scores and may offer faster approval and disbursal, or flexible repayment schedules or lower processing charges. In some cases, the bank may offer a lower interest rate on the home loan.
        </p>
    </li>
    <li>
        <span>&#128073;&#127996;Tip-5</span>
        <p>
            If you need a higher loan amount but your salary does not permit it, take a joint loan with your spouse/parent/sibling. You could also opt for a longer tenure loan. A longer repayment period means a lower EMI and thereby lesser burden on your monthly finances.
        </p>
    </li>
</ul>
<br>

<section>
    <article>

        <h2> OUR OFFERINGS</h2>
        <table>

            <tr>
                <td>
                    Express FD,Personal Loan, Car Loan,Home Loan, Savings Account,24x7 Loans, Credit Card, FD, FD Interest Rates, Education Loan, Current Account, Fastag, Trade & Forex, CMS, Health Insurance,
                </td>
                <td><img src="~/Photos/h14.jpg" width="300" id="float" /></td>

            </tr>
        </table>
        <h2> Six reasons for home loan rejection</h2>
        <table>

            <tr>
                <td>
                    You have done everything right, but you are still left analysing the outcome of your loan application. Having your loan rejected is the most frustrating feeling, especially if you are in dire need of one. Before you jump into the next bank to apply for one, make sure you have all your bases covered.

                    When you apply for a home loan, the bank has every right to accept or reject the same. In case your loan is rejected, your bank may or may not tell you the exact reason. While you cannot demand answers or explanations from them, you should definitely be aware of situations where your application is rejected.

                    Some of them are listed below.  <br>


                    <h3>Credit score</h3>
                    More often than not, a low credit score is the prime reason for your home loan getting rejected. Even one missed credit card payment or payment mismatch in income can be the reason for rejection. As your income is not considered by CIBIL, it’s not taken into consideration while determining your creditworthiness.

                    <h3>Repaying capacity</h3>
                    When you are requesting for a loan, a representative of the bank does a background check on your income to ascertain if you are capable enough to repay it. However, if your loan amount is beyond your repayment capacity, then there are chances your home loan will get rejected. upfront.

                    <h3>Zero Documentation</h3>
                    Submitting proper documentation, evidence and paperwork is the prerequisite for any loan, more importantly a home loan (due to the enormity of the amount involved). If your papers are incomplete or if you have submitted false information or if your signatures don’t match on the papers, your application will not be processed further.

                    <h3>Lack of income</h3>
                    If you lose/quit your job midway during your loan application process, your bank comes to know of the same through background checks. Since you have lost your repaying capacity, your loan gets rejected, even though it passed the initial approval stages.

                    <h3>Existing loans</h3>
                    If you apply for a home loan, when you are already deb-ridden with previous loans, the bank has the right to reject your loan on the grounds of your liabilities being higher than your income. The bank has the right to think that your leftover income (after honouring all existing commitments) wouldn't be enough to meet the EMI for the home loan that you have requested.

                    <h3>Does not fit the bank’s policy</h3>
                    Sometimes the internal policy of the bank may find fault in the area of construction or the credit profiles are negative and may not sanction the loan. If this is the case, then it is good option to talk to the bank officials and find a way around it- through collaterals and guarantors. Also, sometimes banks don’t fund buildings which are 20 years and older.
                    <br>
                    Hence, it is important to check all areas and take into consideration the banks viewpoint before jumping banks to get a loan to ensure your loan is accepted and can begin living your dream.
                </td>
                <td><img src="~/Photos/h15.jpg" width="300" id="float" /></td>

            </tr>
        </table>


    </article>
</section>





</body>