
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


</head>
<body background="~/Photos/h26.jpg">

    <div class="box">
        <img src="~/Photos/h20.jpg" width="150">
        <p class="heading"></p>
        <div class="faqs">
            <details>
                <summary>=> What is a home loan?</summary>
                <p class="text">A home loan, also known, as a housing loan is an amount of money borrowed by an individual to purchase a house. The money is borrowed from a bank or a financial institution at a certain rate of interest and is paid back in easy monthly installments over a long tenure.</p>
            </details>

            <details>
                <summary>=> What are the different types of home loan available in India?</summary>
                <p class="text">Some of the different types of home loans you can take are: home improvement loan, home repair loan, home purchase loan, home extension loan, and land purchase loan with self-construction home loan.</p>
            </details>
            <details>
                <summary>=> How do home loans work?</summary>
                <p class="text">A home loan makes it easy for an individual to fund the purchase of his dream house by providing a lump-sum loan amount based on eligibility. Banks or lending institutions generally fund 75%-90% of the property value, enabling the borrower to purchase his dream house and repay the amount in EMIs in flexible tenures. </p>
            </details>
            <details>
                <summary>=> Can I take 2 home loans at a time?</summary>
                <p class="text">Yes, you can take 2 home loans at a time. However, the chances of loan approval depend on your eligibility criteria including your income, credit score, existing banking relationship, debt to income ratio and other such parameters.</p>
            </details>
            <details>
                <summary>=> What does an EMI mean?</summary>
                <p class="text">EMI refers to the ‘Equated Monthly Installment’ which is the amount you will pay to us on a specific date each month till the loan is repaid in full. The EMI comprises of the principal and interest components which are structured in a way that in the initial years of your loan, the interest component is much larger than the principal component, while towards the latter half of the loan, the principal component is much larger.</p>
            </details>
            <details>
                <summary>=> When can I make a home loan application?</summary>
                <p class="text">You can apply for a Home Loan at any time once you have decided to purchase or construct a property, even if you have not selected the property or the construction has not commenced.</p>
            </details>
            <details>
                <summary>=> What is the maximum amount I can borrow for a home loan?</summary>
                <p class="text">You can borrow up to 90% (upto 80% for original loan between Rs. 20-75 Lacs, & 75% for original loan above Rs. 75 Lacs) of the cost of the property in case of Home Loan Balance Transfer.</p>
            </details>
            <details>
                <summary>=> In how many years can I repay the home loan amount?</summary>
                <p class="text">You can opt for a loan period of up to 20 years or outstanding tenure of the proposed loan to be taken over whichever is lower and can vary depending on your profile.</p>
            </details>
            <details>
                <summary>=> Who can be my co-applicant?</summary>
                <p class="text">If you are an individual - your spouse, your parents, or even your major children can be your co-applicants. The co-owner of a property has to be a co-applicant, but a co-applicant need not be the co-owner of the property.</p>
            </details>
            <details>
                <summary>=> When will the home loan be disbursed?</summary>
                <p class="text">You can take the disbursement after credit, technical and legal appraisals of the property have been done, besides execution of relevant documents & deposit of original property documents is required to be completed prior to disbursement.</p>
            </details>
            <details>
                <summary>=> Does the property have to be insured?</summary>
                <p class="text">Your home is your pride and joy. Don't let unplanned events take it away. Property insurance will take care of home in case an unforeseen event strikes.</p>
            </details>
            <details>
                <summary>=> What is the maximum number of Joint borrowers for a Home Loan?</summary>
                <p class="text">
                    There is no capping of upper limit of number of co-borrower, however minimum one co-borrower is required.
                    <br><br>Note: Member who all are party to agreement must have to come up as o borrower / co-borrower.
                </p>
            </details>
            <details>
                <summary>=> What is a floating rate Home Loan?</summary>
                <p class="text">Floating rate of interest is the interest rate, which changes with time because of multiple factors. If rate of interest is increased by the lender, then rate of interest increases for all the customers who have availed a home loan on floating rate and hence customer EMI also increases.</p>
            </details>
            <details>
                <summary>=> Can I sell the property even when the Home loan is outstanding?</summary>
                <p class="text">No, borrower cannot sell property without clearing outstanding home loan amount of existing bank/financial institution.</p>
            </details>
            <details>
                <summary>=> What does market value of the property mean?</summary>
                <p class="text">The market value of a property is the price at which that property is exchanged between a buyer and a seller on the date of valuation / execution of Agreement.</p>
            </details>
            <details>
                <summary>=> What is MCLR?</summary>
                <p class="text">MCLR stands for Marginal Cost of Funds based Lending Rate.</p>
            </details>
            <details>
                <summary>=> What is processing fees in home loans?</summary>
                <p class="text">Processing fees is a one-time charge collected while availing a fresh home loan. A processing fee of upto 0.5% of loan sanction amount (as applicable) plus GST, is payable.</p>
            </details>
            <details>
                <summary>=> How much home loan can I get if my salary is 25000?</summary>
                <p class="text">The loan amount you can get at a salary of Rs. 25,000 depends on various factors including your credit score, monthly income, existing EMI payout, age and location. You can use the home loan EMI calculator to get an estimate of the loan amount you are eligible to get at the salary of Rs. 25,000. </p>
            </details>
            <details>
                <summary>=> What are the reasons for home loan rejection?</summary>
                <p class="text">Some of the reasons for home loan rejection are: poor credit score, frequent job changes, property issues, age, incomplete documentation and high debt-to-income ratio.</p>
            </details>
            <details>
                <summary>=> Is home loan insurance mandatory?</summary>
                <p class="text">It is not mandatory to take home loan insurance. The insurance protects the borrower’s outstanding loan in case of any unforeseen event strikes during the tenure. However, we strongly recommend taking a home loan insurance to add protection to your home.</p>
            </details>

        </div>
    </div>
  

</body>


