@{ ViewBag.Title = "About"; }
<body >
    <h1 style="text-align:center;color:black;">@ViewBag.Title</h1>
    <hr />


    <p style="font-weight:bold;font-size:20px;text-align:center;padding:10%;color:black;">
        BookMyTrip - India's fastest growing ticket booking platform <br>
        BookMyTrip, over the years, has strived to deliver easy booking solutions to its customers. <br>
        Our continued efforts have resulted into BookMyTrip becoming one of the leading ticketing platforms in India for various Bus services.
        We have a strong presence with a ticket inventory from over 2500 bus partners and 100000 route options our app and website.<br>

        Founded in the year 2021, BookMyTrip Services (India) Private Limited is a pioneer in providing end-to-end software and other value-added solutions such as e-ticketing systems, vehicle tracking systems, passenger information systems, logistics management backed by a 24x7 customer support center. <br>
        The company also provides technology solutions to more than 300 large private bus partners in India, 5 state transport corporations and 2 international bus partners.<br>

        With an array of products lined, we aim to constantly introduce such affordable and first in industry customer centric solutions to the market.

        Today, BookMyTrip is also the preferred Information Technology Partner for State Transport Corporations and Private Bus Fleet Bus Partners. BookMyTrip is an certified Website<br>
        BookMyTrip strictly follows safety measures for Covid-19.
    </p>
</body>