@{ ViewBag.Title = "Contact"; }
<div style="padding:2% 7% 3% 7%;color:black; background-image: url('https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JleSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');">
    <h2>@ViewBag.Title.</h2>
    <br />

    <address>
        <p><b> Call Center: 24/7 </b></p> <hr>
        <p>Ph:040 1234567</p><hr>
        <p>Head Office</p><hr>
        <p>4th Floor ,Raj Building <br>Anna Nagar Chennai-60001</p>
        <p>Email:support@bookmytrip.com</p>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>