
@{
    ViewBag.Title = "select";
    Layout = "~/Views/SelectExam/_LayoutPage2.cshtml";
}

<!DOCTYPE html>
<html>
<head>


</head>
<body>


    <h2>Select Exam</h2>



    <button class="button button1">JAVA</button>
    <button class="button button2">SQL</button>
    <button class="button button3">PHP</button><br>
    <button class="button button4">C/C++</button>
    <button class="button button5">PYTHON</button>
    <button class="button button6">C#/.NET</button>

</body>
</html>
